div.ShowCard {
  display: flex;
  height: 100%;
  width: 100%
}

.ShowCard .hover-options {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-top: 1px solid #EEE;
}

.ShowCard .details {
  margin: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.ShowCard .subdetails {
  color: #777;
  flex: 1;
  position: relative;
  margin: 0;
  font-size: 12px;
}

.ShowCard i {
  cursor: pointer;
  color: #EF382B;
  font-size: 25px;
  margin-right: 6px;
}


.ShowCard h3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  margin: 0 0 5px 0;
}

.ShowCard p {
  margin: 5px 0 0 0;
  font-size: 10px;
  flex: 1;
}
