.SearchResults li {
  background-color: white;
  border-bottom: 1px solid #CCC;
  display: flex;
}

.SearchResults img {
  height: 150px;
}

.SearchResults h3 {
  font-size: 15px;
  margin: 0;
}

.SearchResults p {
  margin: 0;
  font-size: 12px;
}

.SearchResults .details {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.SearchResults .subdetails {
  display: flex;
  justify-content: space-between;
}

.SearchResults a {
  text-decoration: none;
  color: #EF382B;
}
